<div class="mat-typography mat-app-background">
  <mat-toolbar color="primary">
    <span class="fill-remaining-space"></span>

    <button mat-icon-button (click)="toggleInput()">
      <mat-icon>touch_app</mat-icon>
    </button>
    <button mat-icon-button (click)="reduceToEntries()">
      <mat-icon>people</mat-icon>
    </button>
    <button mat-icon-button (click)="reduceToEvent()">
      <mat-icon>event</mat-icon>
    </button>
    <button mat-icon-button (click)="reduceToRace()">
      <mat-icon>directions_run</mat-icon>
    </button>
    <button mat-icon-button (click)="reduceToBib()">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button (click)="reduceToNone()">
      <mat-icon>texture</mat-icon>
    </button>

    <span class="fill-remaining-space"></span>
  </mat-toolbar>

  <div class="real-content">
    @if (ExplorerLineVisible) {
      <pre>--- <span class="color-accent">Race {{CurrentRace}}</span> --- <span class="color-primary">IT {{CurrentTP}}</span> --- Bib {{CurrentBib}} ---</pre>
    }

    @if (ButtonPanelVisible) {
      <ng-container>
        <div class="button-line">
          <button
            mat-stroked-button
            color="primary"
            [disabled]="true"
            (click)="toggleButtonPanel()"
          >
            Icons
          </button>
          <button mat-stroked-button color="primary" (click)="toggleRows()">Rows</button>
          <button mat-stroked-button color="primary" (click)="initCurrent()">Next</button>
        </div>

        <div class="button-line">
          <button mat-raised-button (click)="raceDeltaBtnClick(-1)">R-</button>
          <button mat-raised-button (click)="reduceToEvent()">R {{ CurrentRace }}</button>
          <button mat-raised-button (click)="raceDeltaBtnClick(1)">R+</button>
        </div>

        <div class="button-line">
          <button mat-raised-button (click)="timepointDeltaBtnClick(-1)">IT-</button>
          <button mat-raised-button (click)="reduceToRace()">IT {{ CurrentTP }}</button>
          <button mat-raised-button (click)="timepointDeltaBtnClick(1)">IT+</button>
        </div>

        <div class="button-line">
          <button mat-raised-button (click)="bow(-1)">Bib-</button>
          <button mat-raised-button (click)="reduceToBib()">{{ CurrentBib }}</button>
          <button mat-raised-button (click)="bow(1)">Bib+</button>
        </div>

        @if (ThrowoutsRowVisible) {
          <div class="button-line">
            <button mat-raised-button (click)="throwOut(-1)">T-</button>
            <button mat-raised-button (click)="reduceToEntries()">{{ Throwouts }}</button>
            <button mat-raised-button (click)="throwOut(+1)">T+</button>
          </div>
        }

        @if (FormsRowVisible) {
          <div class="button-line">
            <button mat-stroked-button color="primary" (click)="reduceToParams()">Params</button>
            <button mat-stroked-button color="primary" (click)="reduceToProps()">Props</button>
            <button mat-stroked-button color="primary" (click)="reduceToEntry()">Names</button>
          </div>
        }

        @if (ClearingRowVisible) {
          <div class="button-line">
            <button mat-raised-button color="accent" (click)="clearBtnClick()">Clear</button>
            <button mat-raised-button color="accent" (click)="clearRaceBtnClick()">Clear R</button>
            <button mat-raised-button color="accent" (click)="clearTimepointBtnClick()">
              Clear IT
            </button>
          </div>
        }

        @if (ResetRowVisible) {
          <div class="button-line">
            <button mat-raised-button color="primary" (click)="resetBtnClick()">Reset</button>
            <button mat-raised-button color="primary" (click)="exampleBtnClick()">Example</button>
            <button mat-raised-button color="primary" (click)="assetBtnClick(3)">1991</button>
          </div>
        }

        @if (TableRowVisible) {
          <div class="button-line">
            <button mat-stroked-button (click)="ensureBib()">Bib</button>
            <button mat-stroked-button (click)="ensureEvent()">Event</button>
            <button mat-stroked-button (click)="ensureRace()">Race</button>
          </div>
        }

        <p></p>
      </ng-container>
    }

    @if (InputVisible) {
      <fr-timing-buttons
        #timingTab
        (sendMsg)="sendMsg($event)"
        (updateAll)="handleUpdate($event)"
        (calc)="handleCalc($event)"
      ></fr-timing-buttons>
    }

    @if (TextAreaVisible) {
      <ng-container>
        <h2>Text Area</h2>

        <div class="button-row">
          <button mat-raised-button (click)="memoClear()">Clear</button>
          <button mat-raised-button (click)="memoAsset()">Asset</button>
          <button mat-raised-button (click)="memoConvertedData()">Converted</button>
          <button mat-raised-button (click)="memoText(false)">Text</button>
          <button mat-raised-button (click)="memoText(true)">Compact</button>
          <button mat-raised-button color="accent" (click)="memoRead()">Read</button>
          <button mat-raised-button (click)="memoCopy(memo)">Copy</button>
        </div>

        <div class="memo-form">
          <mat-form-field class="memo">
            <textarea
              #memo
              matInput
              spellcheck="false"
              rows="16"
              class="memo"
              [(ngModel)]="MemoText"
              [ngModelOptions]="{ standalone: true }"
            ></textarea>
          </mat-form-field>
        </div>
      </ng-container>
    }

    @if (PreTextVisible) {
      <ng-container>
        <h2>Pre Text</h2>

        <div class="button-row">
          <button mat-raised-button (click)="clearTextOutput()">Clear</button>
          <button mat-raised-button (click)="showConvertedData()">Converted</button>
          <button mat-raised-button (click)="getTxtBackup(false)">Text</button>
          <button mat-raised-button (click)="getTxtBackup(true)">Compact</button>
        </div>

        <pre>{{ TestOutput }}</pre>
      </ng-container>
    }

    @if (EntryVisible) {
      <fr-form-entry-row
        (entryDeleted)="onEntryDeleted($event)"
        (entryRowChanged)="onEntryRowChanged($event)"
      ></fr-form-entry-row>
    }

    @if (BibVisible) {
      <fr-bib-tab #bibInfo [bib]="CurrentBib" (bibChanged)="onBibChanged(CurrentBib)"></fr-bib-tab>
    }
    @if (EntriesVisible) {
      <fr-entries-tab
        #entriesTab
        (entriesTableChanged)="onEntriesTableChanged($event)"
      ></fr-entries-tab>
    }
    @if (RaceVisible) {
      <fr-race-tab #raceTab [race]="CurrentRace" [timepoint]="CurrentTP"></fr-race-tab>
    }
    @if (EventVisible) {
      @if (EventVisible) {
        <fr-event-tab #eventTab [EventName]="EventName"></fr-event-tab>
      }
    }

    @if (ParamsVisible) {
      <fr-form-event-params-quick
        (paramsChanged)="onParamsChanged($event)"
      ></fr-form-event-params-quick>
    }
    @if (PropsVisible) {
      <fr-form-event-props-quick
        (propsChanged)="onPropsChanged($event)"
      ></fr-form-event-props-quick>
    }

    @if (JsonInfoVisible) {
      <fr-json-info></fr-json-info>
    }

    <p></p>

    <h2>Other Buttons</h2>

    <div class="button-row">
      <button mat-raised-button (click)="reduceToPreText()">Show Pre Text</button>
      <button mat-raised-button (click)="reduceToTextArea()">Show Text Area</button>
      <button mat-raised-button (click)="reduceToJsonInfo()">Show Json Info</button>
    </div>

    <div class="button-row">
      <button mat-raised-button (click)="toggleExplorerLine()">Toggle ExplorerLine</button>
      <button mat-raised-button (click)="toggleBigButtonRow()">Toggle BBR</button>
      <button mat-raised-button (click)="toggleDebug()">Toggle Debug Flag</button>
    </div>

    <div class="button-row">
      <button mat-raised-button (click)="enableRaceBtnClick()">Enable/Disable Current Race</button>
      <button mat-raised-button (click)="updateEvent()">Update Event (from Race)</button>
    </div>

  </div>
</div>
